$text-color: #ffffff; 
$button-background: #5474FD;
$button-hover: #4963d1; 

body {
    margin: 10px; 
    font-family: 'Josefin Sans', sans-serif; 
}

.section1 {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-image: url('../img/mountains.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
    min-height: 100vh; 
    min-width: 100%; 
    margin: 0 auto; 
}

.site-title {
    text-transform: uppercase; 
    font-weight: bold; 
    font-size: 48px; 
    line-height: 26px; 
    letter-spacing: 4.8px; 
    color: $text-color; 
    margin-block-start: 0;
    margin-block-end: 0;
}

.motto {
    font-size: 22px; 
    line-height: 26px; 
    letter-spacing: 6.82px; 
    color: $text-color; 
}

.search-field {
    min-width: 500px;
    min-height: 40px; 
}

.search-field::placeholder {
    font-size: 14px; 
    line-height: 26px; 
    letter-spacing: 2.8px; 
    color: #999999;
    text-align: center; 
}

.search-button {
    min-width: 153px; 
    height: 40px; 
    background-color: $button-background;
    border: 2px solid;
    border-color: #ffffff; 
    font-family: 'Aleo', serif;
    font-size: 14px; 
    text-transform: uppercase; 
    color: $text-color; 
    cursor: pointer; 
}

.search-button:hover {
    background-color: $button-hover; 
}

.fa-search {
    color: $text-color; 
    padding-left: 10px; 
    cursor: pointer; 
}

.scroll-button {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 20vh; 
    cursor: pointer; 
}

.scroll-button__text {
    border: none; 
    background: none; 
    font-size: 14px; 
    line-height: 26px; 
    letter-spacing: 2.8px; 
    color: $text-color; 
}

.scroll-button__text:hover {
    text-decoration: underline; 
    cursor: pointer; 
}

.fa-chevron-down {
    color: #ffffff; 
}



